NEXT_PUBLIC_MONAD_RPC=https://testnet-rpc.monad.xyz
NEXT_PUBLIC_MONAD_WS=wss://testnet-rpc.monad.xyz
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001
NEXT_PUBLIC_SITE_URL=https://clac.fun
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=00000000000000000000000000000000
NEXT_PUBLIC_CLAC_FACTORY_ADDRESS=
